.pt-accent {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    &::before {
        content: '';
        // mask-color: blue;
        position: absolute;
        // width: 1em;
        height: .5em;
        mask-repeat: no-repeat;
        mask-position: bottom;
        mask-size: 100% .5em;
        top: -.3em;
        left: 0;
        right: 0;
        background-color: black;
        @media (prefers-color-scheme: dark) {
            background-color: white;
        }
    }
    
    &--dot::before {
        mask-image: url(../img/math-symbols/dot.svg?ver003);
        mask-size: 30% .2em;
    }
    
    &--ddots::before {
        mask-image: url(../img/math-symbols/ddots.svg);
        mask-size: 70% .5em;
    }
   
    &--dddots::before {
        mask-image: url(../img/math-symbols/dddots.svg?ver003);
        mask-size: 100% .5em;
    }


    &--hat::before {
        mask-image: url(../img/math-symbols/hat.svg?ver003);
    }
}