.pt-bracket {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 1em;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1em;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100% 100%;
        background-color: black;
        @media (prefers-color-scheme: dark) {
            background-color: white;
        }
    }

    &::before {
        left: 0;
        mask-image: url(../img/math-symbols/bracket_round_left.svg);
    }

    &::after {
        right: 0;
        mask-image: url(../img/math-symbols/bracket_round_right.svg);
    }

    &--system {
        &::before {
            mask-image: url(../img/math-symbols/bracket_system_left.svg);
        }

        &::after {
            display: none;
        }
    }

}