.pt-fraction {
    display: inline-grid;
    grid-template-columns: max-content;
    grid-template-rows: auto 0.06em auto;
    vertical-align: middle;
    font-size: 1em;
    position: relative;

    &::before {
        content: '';
        grid-column: 1;
        grid-row: 2;
        background-color: black;
        @media (prefers-color-scheme: dark) {
            background-color: white;
        }
    }

    &__upper, &__lower {
        font-size: .8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__upper {
        grid-column: 1;
        grid-row: 1;
        // border-bottom: 1px solid #000;
    }

    &__lower {
        grid-column: 1;
        grid-row: 3;
        // border-top: 1px solid #000;
    }
}