.pt-sigma {
    display: inline-grid;
    grid-template-columns: 2.5em;
    grid-template-rows: auto 2.5em auto;
    vertical-align: middle;

    &__upper-limit, &__lower-limit {
        font-size: .8em;
        text-align: center;
    }

    &__upper-limit {
        grid-column: 1;
        grid-row: 1;
    }
   
    &__lower-limit {
        grid-column: 1;
        grid-row: 3;
    }

    &__symbol {
        grid-column: 1;
        grid-row: 2;
        background: url(../img/math-symbols/sigma.svg) center / 100% 100% no-repeat;
    }
}