.pt-integral {
  display: inline-grid;
  grid-template-columns: 0.8em auto;
  grid-template-rows: 0.8em 2em 0.8em;
  font-size: 1em;
  -moz-column-gap: 0.3em;
       column-gap: 0.3em;
  vertical-align: middle;
}
.pt-integral__upper-limit {
  grid-column: 2;
  grid-row: 1;
  font-size: 0.8em;
}
.pt-integral__lower-limit {
  grid-column: 2;
  grid-row: 3;
  font-size: 0.8em;
  display: flex;
  align-items: end;
}
.pt-integral__symbol {
  grid-column: 1/2;
  grid-row: 1/4;
  -webkit-mask: url(../img/math-symbols/integral.svg) center/contain no-repeat;
          mask: url(../img/math-symbols/integral.svg) center/contain no-repeat;
  background-color: black;
}
@media (prefers-color-scheme: dark) {
  .pt-integral__symbol {
    background-color: white;
  }
}

.pt-fraction {
  display: inline-grid;
  grid-template-columns: max-content;
  grid-template-rows: 1.7em 0.06em 1.7em;
  vertical-align: middle;
  font-size: 1em;
  position: relative;
}
.pt-fraction::before {
  content: "";
  grid-column: 1;
  grid-row: 2;
  background-color: black;
}
@media (prefers-color-scheme: dark) {
  .pt-fraction::before {
    background-color: white;
  }
}
.pt-fraction__upper, .pt-fraction__lower {
  font-size: 1em;
  display: flex;
  justify-content: center;
  padding: 0 0.2em;
}
.pt-fraction__upper {
  grid-column: 1;
  grid-row: 1;
  align-items: end;
}
.pt-fraction__lower {
  grid-column: 1;
  grid-row: 3;
  align-items: start;
}

.pt-fraction .pt-fraction {
  font-size: 0.7em;
}

.pt-sigma {
  display: inline-grid;
  grid-template-columns: 2.5em;
  grid-template-rows: auto 2.5em auto;
  vertical-align: middle;
}
.pt-sigma__upper-limit, .pt-sigma__lower-limit {
  font-size: 0.8em;
  text-align: center;
}
.pt-sigma__upper-limit {
  grid-column: 1;
  grid-row: 1;
}
.pt-sigma__lower-limit {
  grid-column: 1;
  grid-row: 3;
}
.pt-sigma__symbol {
  grid-column: 1;
  grid-row: 2;
  -webkit-mask: url(../img/math-symbols/sigma.svg) center/100% 100% no-repeat;
          mask: url(../img/math-symbols/sigma.svg) center/100% 100% no-repeat;
  background-color: black;
}
@media (prefers-color-scheme: dark) {
  .pt-sigma__symbol {
    background-color: white;
  }
}

.pt-sup {
  display: inline-block;
  transform: translateY(-0.5em);
  font-size: 0.7em;
}

.pt-sub {
  display: inline-block;
  transform: translateY(0.5em);
  font-size: 0.7em;
}

.pt-bracket {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0 1em;
}
.pt-bracket::before, .pt-bracket::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  background-color: black;
}
@media (prefers-color-scheme: dark) {
  .pt-bracket::before, .pt-bracket::after {
    background-color: white;
  }
}
.pt-bracket::before {
  left: 0;
  -webkit-mask-image: url(../img/math-symbols/bracket_round_left.svg);
          mask-image: url(../img/math-symbols/bracket_round_left.svg);
}
.pt-bracket::after {
  right: 0;
  -webkit-mask-image: url(../img/math-symbols/bracket_round_right.svg);
          mask-image: url(../img/math-symbols/bracket_round_right.svg);
}
.pt-bracket--system::before {
  -webkit-mask-image: url(../img/math-symbols/bracket_system_left.svg);
          mask-image: url(../img/math-symbols/bracket_system_left.svg);
}
.pt-bracket--system::after {
  display: none;
}
.pt-bracket--array::before {
  -webkit-mask-image: url(../img/math-symbols/bracket_array_left.svg);
          mask-image: url(../img/math-symbols/bracket_array_left.svg);
}
.pt-bracket--array::after {
  -webkit-mask-image: url(../img/math-symbols/bracket_array_right.svg);
          mask-image: url(../img/math-symbols/bracket_array_right.svg);
}
.pt-bracket__exponent {
  position: absolute;
  top: -0.5em;
}
.pt-bracket__exponent--right {
  left: 100%;
}

.pt-matrix {
  border-collapse: collapse;
  font-size: 1em;
}
.pt-matrix td {
  padding: 0.25em 0.5em;
  text-align: center;
}

.pt-accent {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.pt-accent::before {
  content: "";
  position: absolute;
  height: 0.5em;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
          mask-position: bottom;
  -webkit-mask-size: 100% 0.5em;
          mask-size: 100% 0.5em;
  top: -0.3em;
  left: 0;
  right: 0;
  background-color: black;
}
@media (prefers-color-scheme: dark) {
  .pt-accent::before {
    background-color: white;
  }
}
.pt-accent--dot::before {
  -webkit-mask-image: url(../img/math-symbols/dot.svg?ver003);
          mask-image: url(../img/math-symbols/dot.svg?ver003);
  -webkit-mask-size: 30% 0.2em;
          mask-size: 30% 0.2em;
}
.pt-accent--ddots::before {
  -webkit-mask-image: url(../img/math-symbols/ddots.svg);
          mask-image: url(../img/math-symbols/ddots.svg);
  -webkit-mask-size: 70% 0.5em;
          mask-size: 70% 0.5em;
}
.pt-accent--dddots::before {
  -webkit-mask-image: url(../img/math-symbols/dddots.svg?ver003);
          mask-image: url(../img/math-symbols/dddots.svg?ver003);
  -webkit-mask-size: 100% 0.5em;
          mask-size: 100% 0.5em;
}
.pt-accent--hat::before {
  -webkit-mask-image: url(../img/math-symbols/hat.svg?ver003);
          mask-image: url(../img/math-symbols/hat.svg?ver003);
}

.pt-dots {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-0.1em);
  width: 1.2em;
  height: 1em;
  background-color: black;
}
.pt-dots--cdots {
  -webkit-mask: url(../img/math-symbols/cdots.svg) center/contain no-repeat;
          mask: url(../img/math-symbols/cdots.svg) center/contain no-repeat;
}
.pt-dots--vdots {
  -webkit-mask: url(../img/math-symbols/vdots.svg) center/contain no-repeat;
          mask: url(../img/math-symbols/vdots.svg) center/contain no-repeat;
}
.pt-dots--ddots {
  -webkit-mask: url(../img/math-symbols/ddots.svg) center/70% no-repeat;
          mask: url(../img/math-symbols/ddots.svg) center/70% no-repeat;
}
@media (prefers-color-scheme: dark) {
  .pt-dots {
    background-color: white;
  }
}

.pt-darkmode .pt-symbol {
  filter: invert(1);
}/*# sourceMappingURL=puretex.css.map */